groq
langchain_classic
langchain_community
langchain_core
langchain_experimental
langchain_groq
langchain_huggingface
langchain_text_splitters
nltk
numpy
python-dotenv
pypdf
sentence-transformers
streamlit
streamlit_pdf_viewer
scikit-learn
faiss-cpu